/* /src/styles/index.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input,
canvas {
    max-width: 100%;
}

#no-js-page {
    display: none;
}

#app {
    display: grid;
    grid-template-areas:
        "header header"
        "canvas sidebar";
    grid-template-columns: 1fr 320px;
    grid-template-rows: 70px 1fr;
    height: 100vh;
}

#canvas,
#sidebar {
    min-height: 0;
}

#headInfo,
#headTime,
.sidebarContentHolder,
.inputDiv,
.initialVelocityDiv,
#createInitialVelocityInputsDiv,
.createInitialVelocityInput {
    min-width: 0;
}

noscript style {
    display: none;
}
